
           <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="detail.php?product_id={{product.product_id}}"><img class="card-img-top img-fluid img-thumbnail" src="images/products/products/{{product.image}}" alt=""></a>
              <div class="card-body">

                <h5>${{product.price}}</h5>
                <p class="card-text">{{product.name}}</p>

                                <h4 class="card-title">
                  <a href="detail.php?product_id={{product.product_id}}">Detail</a>
                </h4>
              </div>

            </div>
          </div>

          <style>


          </style>

 

